/InfectionServer/nbproject/private/
.DS_Store
Infection.xcodeproj
.DS_Store

Infection.xcodeproj/project.pbxproj

Infection.xcodeproj/project.xcworkspace/xcuserdata/techcamp.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate
